In [5]:
import sqlite3
import pandas as pd

In [2]:
con = sqlite3.connect('airbnb.db')

In [3]:
cur = con.cursor()

In [9]:
listings = pd.read_csv('listings-1.csv')

In [10]:
listings.head()

,id,name,host_location,host_response_time,host_response_rate,host_is_superhost,review_scores_rating,reviews_per_month
0,5456.0,"Walk to 6th, Rainey St and Convention Ctr","Austin, Texas, United States",within a few hours,100%,t,4.83,3.72
1,5769.0,NW Austin Room,"Austin, Texas, United States",within a day,100%,f,4.90,1.78
2,6413.0,Gem of a Studio near Downtown,"Austin, Texas, United States",within a few hours,86%,t,4.97,0.78
3,6448.0,"Secluded Studio @ Zilker - King Bed, Bright & ...","Austin, Texas, United States",within an hour,100%,t,4.97,2.12
4,341382.0,SXSW | 4 bedroom home near Downtown,"Austin, Texas, United States",NaN,NaN,f,4.72,0.99

In [13]:
listings.to_sql('listings',con)

In [19]:
reviews_austin = pd.read_csv('reviews (7) 2.csv')

In [21]:
reviews_austin.to_sql('reviews_austin',con)

This created a database, that I used sql on to create a csv that joined the necessary columns needed from different csvs.